<div class="navbar"> 💜
<%= form_tag cocktails_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search-form",
    placeholder: "Find a cocktail"%>
<% end %>
<%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-outline-info btn-sm btn-open"%>
</div>

<div class="banner-index">
  <div class="container">
    <h1>Check out my Cocktails</h1>
    <p>Pick the best cocktail for you</p>
  </div>
</div>


<div class="container">
  <div class="row mt-5 mb-5">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-6 col-md-4 cocktail-card">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, crop: :limit %>')">
        <p> <%= cocktail.name %>  </p>
        <p class="card-button btn btn-outline-info btn-sm"><%=link_to "More info", cocktail_path(cocktail) %> </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
