<h1>Add a new cocktail</h1>

<%= simple_form_for(@cocktail) do |f|  %>
<%= f.input :name %>
<%= f.input :photo %>
<%= f.submit %>
<% end  %>

<p class="show-button btn btn-outline-info btn-sm"><%= link_to "Back", cocktails_path %></p>
