<div class="newform-background">
<div class="container mt-5" id="form-container">
<h1>Add a new cocktail</h1>

<%= simple_form_for(@cocktail) do |f|  %>
<%= f.input :name %>
<%= f.input :photo %>
<%= f.submit %>
<% end  %>

<p class="form-button btn btn-warning btn-sm mt-3"><%= link_to "Back", cocktails_path %></p>
