<div class="navbar"> 💜<%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-outline-info btn-sm btn-open"%> </div>

<div class="banner-show">
  <div class="container">
    <h1><h1><%= @cocktail.name %></h1></h1>
  </div>
</div>


<div class="container">


  <h2>Ingredients</h2>

  <% @cocktail.doses.each do |dose| %>
    <p> <%= dose.ingredient.name %> - <%= dose.description %>  <%= link_to "🗑", dose_path(dose), method: :delete, data: {:confirm => "Are you sure you want to delete ?"} %> </p>
  <% end %>


  <p class="show-button btn btn-outline-info btn-sm"> <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail)  %></p>


  <p class="show-button btn btn-outline-info btn-sm"><%= link_to "Back", cocktails_path  %></p>
</div>
