<div class="navbar"> 💜<%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-outline-info btn-sm btn-open"%> </div>

<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo, crop: :limit %>')">
  <div class="container" style="color: white;">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>






<div class="container">
  <h2 class="ingredient-card">Ingredients</h2>

  <div class="info-card d-flex">
    <div class="card-ingredient">
      <% @cocktail.doses.each do |dose| %>
      <p> <%= dose.ingredient.name %> - <%= dose.description %>  <%= link_to "Delete", dose_path(dose), method: :delete, data: {:confirm => "Are you sure you want to delete this ingredient?"}, class: "show-button btn btn-outline-info btn-sm ml-3" %> </p>
      <% end %>

      <%= link_to new_cocktail_dose_path(@cocktail), class: "show-button btn btn-outline-info btn-sm mt-5" do %>
        Add an ingredient
      <% end %>

    </div>


    <div class="card-options d-flex flex-column">

    <%= link_to cocktail_path(@cocktail), class: "show-button btn btn-outline-info btn-sm mb-3", method: :delete, data: {:confirm => "Are you sure you want to delete ?"} do %>Delete this Cocktail
      <% end %>


    <%= link_to cocktails_path, class: "show-button btn btn-outline-info btn-sm" do %> Back
      <% end %>
    </div>
  </div>
</div>

