<div class="form-background">
<div class="container mt-5" id="form-container">
  <h1>Add an Ingredient</h1>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit %>
  <% end %>

 <p class="btn btn-outline-info btn-sm pr-5 mt-3" id="button-back"> <%= link_to "Back", cocktail_path(@cocktail) %></p>
</div>
</div>
